@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
 padding: 10px;
 border-radius: 1em;
 height: 380px;
 width: 400px;
 margin: auto;
 background-color: #05eefa;
 box-shadow: rgba(236, 151, 151, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
 font-family: 'Orbitron', sans-serif;
 background-color: #ef61f1;
 border: solid black 0.5px;
 color: black;
 border-radius: 5px;
 width: 100%;
 height: 65%;
}
.button {
 font-family: 'Orbitron', sans-serif;
 background-color: #f8e4ed;
 color: rgb(235, 171, 202);
 border: solid black 0.5px;
 width: 100%;
 border-radius: 5px;
 height: 70%;
 outline: none;
}
.button:active {
 background: #a1e6ba;
 -webkit-box-shadow: inset 0px 0px 5px #3e3bc5;
 -moz-box-shadow: inset 0px 0px 5px #3e3bc5;
 box-shadow: inset 0px 0px 5px #3e3bc5;
}
